/* here you can put your own css to customize and override the theme */
.carousel-caption{
    background: rgba(0,0,0,0.3);
}
.why-hain{
	padding: 10px 0 10px;
	text-align: center;
	color: #5f6f7e;
    direction: ltr;
    font: 300 14px/1.4 "Open Sans", Arial, sans-serif;
}
.why-hain .container h2{
    font: 400 37px "PT Sans Narrow", Arial, sans-serif;
    margin: 0 0 10px;
    text-transform: uppercase;
    text-align: center;
}